* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: "IBM Plex Serif", serif;
}