* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: "IBM Plex Serif", serif;
}

.linkwrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 3rem;
}

.linkwrapper a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    border-color: #ffffff68;
    border-width: 1px;
    border-style: solid;
    background-color: #343434;
}

a.cta {
    color: #3b82f6;
}

.linkwrapper a:hover {
    border-color: #ffffff;
}

.card {
    background-color: #343434;
    border-radius: 24px;
    border: none;
    color: #ffffff;
}

.card img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card .btn-primary {
    background-color: #343434;
    border-color: #ffffff68;
    color: #3b82f6;
    border-radius: 24px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    font-family: "IBM Plex Mono", monospace;
}

.card .btn-primary:hover {
    background-color: #343434;
    border-color: #ffffff;
    color: #3b82f6;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #343434;
    border-radius: 24px;
    padding: 3rem;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.formfield {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.naamrow {
    display: flex;
    gap: 1rem;
}

.naamrow .formfield {
    width: 50%;
}

@media (max-width: 576px) {
    .naamrow {
        flex-direction: column;
    }

    .naamrow .formfield {
        width: 100%;
    }
}

.formfield textarea {
    resize: none;
}

#verzenden {
    color: #3b82f6;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    border-color: #ffffff68;
    border-width: 1px;
    border-style: solid;
    background-color: #343434;
    font-family: "IBM Plex Mono", monospace;
}

#verzenden:hover {
    border-color: #ffffff;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #3b82f6;
}

.opleiding {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 3rem;
    grid-row-gap: 1rem;
}

@media (min-width: 992px) {
    .carousel {
        max-width: 60%;
        margin: 0 auto;
    }
}

.accordion,
.accordion-item,
.accordion-button {
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
}