* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: "IBM Plex Serif", serif;
}

.linkwrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 3rem;
}

.linkwrapper a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    border-color: #ffffff68;
    border-width: 1px;
    border-style: solid;
    background-color: #343434;
}

a.cta {
    color: #3b82f6;
}

.linkwrapper a:hover {
    border-color: #ffffff;
}